*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-family: 'Courier New', Courier, monospace;
        text-decoration:underline;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    #lol{
        position: absolute;
        width: 100px;
        height: 70px;
        background-color: #d2fcd9;   
        border: 1px solid black;
    }
    .game{
        border: solid black 1px;
        width: 99vw;
        height: 90vh;
        &__instructions{
            margin-top: 10px;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__score{
            font-family: 'Courier New', Courier, monospace;
            height: 3vh;
            width: 99vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__percentage{
            // border-bottom: solid black 1px;
            height: 3vh;
            width: 99vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Courier New', Courier, monospace;
        }
        &__play{
            &-initiator{
                height: 100px;
                width: 100px;
                border: solid 1px black;
                border-radius: 90px;
                background-color: blue;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
            &-circle{
                height: 30px;
                width: 30px;
                padding: 1.0em;
                border: solid 1.0em #c00;
                border-radius: 50%;
                background-color: #c00;
                background-clip: content-box;
                position: absolute;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
        }   
        &__refresh{
            height: 60px;
            width: 180px;
            background-color: white;
            border: solid 1px black;
            border-radius: 10px;
            position: absolute;
            top: 60%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.forceScoreCenter{
    position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
}

