*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-family: 'Courier New', Courier, monospace;
        text-decoration:underline;
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    .game{
        border: solid black 1px;
        width: 99vw;
        height: 90vh;
        &__score{
            height: 3vh;
            width: 99vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__percentage{
            border-bottom: solid black 1px;
            height: 3vh;
            width: 99vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__area{
            height: 100px;
            width: 100px;
            border: solid 1px black;
            border-radius: 90px;
            background-color: orange;
        }
    }
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
}