* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav h1 {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .game {
  border: solid black 1px;
  width: 99vw;
  height: 90vh;
  margin-left: 1px;
  margin-right: 1px;
  align-items: center;
}
main .game__instructions {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .game__score {
  font-family: "Courier New", Courier, monospace;
  height: 3vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
main .game__percentage {
  height: 3vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
main .game__play-initiator {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  border-radius: 90px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
main .game__play-circle {
  height: 30px;
  width: 30px;
  padding: 1em;
  border: solid 1em #c00;
  border-radius: 50%;
  background-color: #c00;
  background-clip: content-box;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
main .game__refresh {
  height: 60px;
  width: 180px;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
main .game__refresh {
  background-color: darkgray;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-family: "Courier New", Courier, monospace;
}

.forceScoreCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}